#about-header{
   color: whitesmoke;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000, 
    1px 1px 0 #000;  
    
}

#Under{
    text-decoration: underline;
}

.text-paragraph{
    text-indent: 50px;
    
}